
<!-- Jobs page -->
<div class="container">

    <div>

        <% if(locals.jobs){ %>
            <% for(let job of jobs){ %>

                <div class="bg-light p-3 my-2 rounded">

                    <div>
                        <!-- Job title -->
                        <h6><%= job.name %></h6>
                        <p>
                            <span class="fw-bold">Company: </span> <span class="text-primary"><%= job.company.name %></span>
                        </p>
                    </div>

                    <div>
                        <div>
                            <p class="fw-bold">Categories:</p>
                            <p>
                                <% for(let cat of job.categories){ %>
                                    <span class="text-primary"><%= cat.name %></span>
                                    <span class="mx-2 fw-bold">|</span>
                                <% } %>
                            </p>
                        </div>

                        <div>
                            <p class="fw-bold">Levels:</p>
                            <p>
                                <% for(let level of job.levels){ %>
                                    <span class="text-primary"><%= level.name %></span>
                                    <span class="mx-2 fw-bold">|</span>
                                <% } %>
                            </p>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div><span class="fw-bold">Published:</span> <%= job.publication_date %></div>
                        <div class="me-2">
                            <!-- apply btn -->
                            <a href="<%= job.refs.landing_page %>" class="btn btn-secondary">
                                Apply
                            </a>
                        </div>
                    </div>


                </div>

            <% } %>
        <% } %>

    </div>

    <!-- next btn -->
    <div>
        <a href="/get-jobs/<%= nxtPage %>" class="btn btn-secondary">
            Next
        </a>
    </div>

</div>